<main>
    <!-- Barra izquierda -->
    <section class="admin-categorias">
        <!-- CARD DE ADMIN -->
        <div class="card2">
            <img src="\assets\img-admin.png" alt="icono" width="150px">
            <div class="card-body">
                <h5 class="card-title"><strong>empresaA</strong></h5>
                <p class="card-text"><strong>Administrador(a)</strong></p>
            </div>
        </div>
        <!-- ----------------------------------- -->

        <section class="rutas">
            <!-- BOTON BOOTSTRAP ACTIVE -->
            <button type="button" class="btn btn-primary">
                <img src="\assets\img-icono-home.png" alt="icono">Dashboard</button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="\assets\img-icono-inventario.png" alt="icono">
                <a routerLink="/FormularioDepartamentos">Departamentos</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="\assets\img-icono-users.png" alt="icono">
                <a routerLink="/FormularioEmpleados">Empleados</a></button>
            <!-- ------------------------ -->
        </section>

        <!-- BOTON BOOTSTRAP SALIR -->
        <button type="button" class="btn btn-danger">
            <img src="\assets\img-icono-salir.png" alt="icono">
            <a routerLink="/">Salir</a></button>
        <!-- ------------------------ -->
    </section>

    <!-- INFO -->
    <section class="informacion">
        <section class="titulo">
            <img src="\assets\img-icono-home2.png" alt="icono" height="50px">
            <h1>Dashboard</h1>
        </section>


        <section class="categorias-admin">

            <div class="card">
                <img src="\assets\img-ordenes.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Departamentos</h2>
                    <button type="button" class="botonForm">
                        <img src="\assets\img-icono-config.png" alt="icono">
                        <a routerLink="/FormularioDepartamentos">Formulario</a></button>
                </div>
            </div>

            <div class="card">
                <img src="\assets\img-users.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Empleados</h2>
                    <button type="button" class="botonForm">
                        <img src="\assets\img-icono-config.png" alt="icono">
                        <a routerLink="/FormularioEmpleados">Formulario</a></button>
                </div>
            </div>
        </section>

        <!-- FORMULARIO DE PETICIONES EMPLEADOS -->
        <div class="container">
            @if(showDivEmpleado){
            <h3>{{ editMode ? 'Modificar Empleado' : 'Crear Empleado'}}</h3>
            <form class="py-5 col-lg-6">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Codigo</label>
                    <input type="number" class="form-control" name="codigo" [(ngModel)]="Codigo" />
                </div>

                <div class="mb-3">
                    <label for="inputImagen" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" [(ngModel)]="Nombre" />
                </div>

                <div class="mb-3">
                    <label for="inputPrecio" class="form-label">Apellido 1</label>
                    <input type="text" class="form-control" name="Apellido1" [(ngModel)]="Apellido1" />
                </div>

                <div class="mb-3">
                    <label for="inputColeccion" class="form-label">Apellido 2</label>
                    <input type="text" class="form-control" name="Apellido2" [(ngModel)]="Apellido2" />
                </div>


                <button (click)="editMode ? modificarEmpleado() : crearEmpleado()" type="button"
                    class="btn btn-secondary bg-my-color col-12">
                    {{ editMode ? 'Modificar Empleado' : 'Crear Empleado'}}
                </button>
                <button (click)="toggleDivEmpleados()" type="button" class="btn btn-danger bg-my-color col-12 mt-3">
                    Cerrar
                </button>
            </form>
            }
        </div>

        <!-- FORMULARIO DE PETICIONES departamentos -->
        <div class="container">
            @if(showDivDepartamentos){
            <h3>{{ editMode ? 'Modificar Departamento' : 'Crear Departamento'}}</h3>
            <form class="py-5 col-lg-6">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" [(ngModel)]="NombreDepartamento" />
                </div>

                <div class="mb-3">
                    <label for="inputImagen" class="form-label">Codigo Departamento</label>
                    <input type="number" class="form-control" name="CodigoDepartamento" [(ngModel)]="CodigoDepartamento" />
                </div>

                <button (click)="editMode ? modificarDepartamento() : crearDepartamento()" type="button"
                    class="btn btn-secondary bg-my-color col-12">
                    {{ editMode ? 'Modificar Departamento' : 'Crear Departamento'}}
                </button>
                <button (click)="toggleDivDepartamento()" type="button" class="btn btn-danger bg-my-color col-12 mt-3">
                    Cerrar
                </button>
            </form>
            }
        </div>


        <h2>Lista de información </h2>
        <!-- Tabla de BOOTSTRAP -->
        <h3>Empleados</h3>
        <section class="tabla-Empleados">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido 1</th>
                    <th scope="col">Apellido 2</th>
                </thead>

                <!-- TABLA -->
                <tbody class="table-group-divider" id="miTabla">

                    <tr *ngFor="let Empleados of allEmpleados">
                        <td class="acciones" id="acciones">
                            <button type="button" class="btn btn-primary" (click)="identificarId(Empleados._id)">
                                <img src="\assets\img-icono-editar.png" alt="icono" width="30px">
                            </button>

                            <button type="button" class="btn btn-danger" (click)="borrarEmpleado(Empleados._id)">
                                <img src="\assets\img-icono-eliminar.png" alt="icono" width="30px">
                            </button>
                        </td>
                        <td>{{Empleados.Codigo}}</td>
                        <td>{{Empleados.Nombre}}</td>
                        <td>{{Empleados.Apellido1}}</td>
                        <td>{{Empleados.Apellido2}}</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <h3>Departamentos</h3>
        <section class="tabla-Departamentos">
            <table class="table">
                <thead class="table-dark">
                    <th scope="col">Editar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Codigo Departamento</th>
                </thead>

                <!-- TABLA -->
                <tbody class="table-group-divider" id="miTabla">

                    <tr *ngFor="let Departamentos of allDepartamentos">
                        <td class="acciones" id="acciones">
                            <button type="button" class="btn btn-primary" (click)="identificarIdDepartamentos(Departamentos._id)">
                                <img src="\assets\img-icono-editar.png" alt="icono" width="30px">
                            </button>

                            <button type="button" class="btn btn-danger"
                                (click)="borrarDepartamento(Departamentos._id)">
                                <img src="\assets\img-icono-eliminar.png" alt="icono" width="30px">
                            </button>
                        </td>
                        <td>{{Departamentos.Nombre}}</td>
                        <td>{{Departamentos.CodigoDepartamento}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</main>