<main>
    <!-- Barra izquierda -->
    <section class="admin-categorias">
        <!-- CARD DE ADMIN -->
        <div class="card2">
            <img src="\assets\img-admin.png" alt="icono" width="150px">
            <div class="card-body">
                <h5 class="card-title"><strong>empresaA</strong></h5>
                <p class="card-text"><strong>Administrador(a)</strong></p>
            </div>
        </div>
        <!-- ----------------------------------- -->

        <section class="rutas">
            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="\assets\img-icono-home.png" alt="icono">
                <a routerLink="/">Dashboard</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP DISABLE -->
            <button type="button" class="btn btn-secondary">
                <img src="\assets\img-icono-inventario.png" alt="icono">
                <a routerLink="/FormularioDepartamentos">Departamento</a></button>
            <!-- ------------------------ -->

            <!-- BOTON BOOTSTRAP ACTIVE -->
            <button type="button" class="btn btn-primary">
                <img src="\assets\img-icono-users.png" alt="icono">Empleados</button>
            <!-- ------------------------ -->
        </section>

        <!-- BOTON BOOTSTRAP SALIR -->
        <button type="button" class="btn btn-danger">
            <img src="\assets\img-icono-salir.png" alt="icono">
            <a routerLink="/">Salir</a></button>
        <!-- ------------------------ -->
    </section>

    <section class="informacion">
        <section class="titulo">
            <img src="\assets\img-icono-home2.png" alt="icono" height="50px">
            <h1>Empleados</h1>
        </section>

        <section class="formulario">
            <!-- BOOTSTRAP FORMS -->
            <h1>Editar Empleado</h1>
            <div class="row">
                <div class="col">
                    <label for="formGroupExampleInput" class="form-label">Codigo</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="formGroupExampleInput" required>
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Apellido 1</label>
                <input type="text" class="form-control" id="formGroupExampleInput" required>
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Apellido 2</label>
                <input type="text" class="form-control" id="formGroupExampleInput" required>
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Codigo Departamento</label>
                    <input type="number" class="form-control" id="formGroupExampleInput" required>
            </div>

            <!-- Boton de ELIMINAR -->
            <a style="text-decoration: none"><button class="btn-delete" type="submit"
                    onclick="nombreUser()">Eliminar</button></a>

            <!-- Boton de GUARDAR -->
            <a style="text-decoration: none"><button class="btn-login" type="submit"
                    onclick="nombreUser()">Guardar</button></a>
        </section>
    </section>
</main>