main{
    display: flex;
}

.admin-categorias{
    background-color: var(--colorPrimario);
    height: 400;
    padding: 16px;
}

.card2{
    text-align: center;
    padding: 16px;
    color: var(--colorBlanco);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card2 h5{
    color: var(--colorBlanco);
}

.btn-primary{
    border: none;
    background-color: var(--colorSecundario);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    color: var(--colorBlanco);
}

.btn-secondary{
    border: none;
    background-color: var(--colorPrimario);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    color: var(--colorBlanco);
}


.rutas{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.btn-danger{
    border: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    color: var(--colorBlanco);
    background-color: red;
}

/* BARRA LATERAL FIN */

.informacion{
    flex: 1;
    padding: 24px;
}

.titulo{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    margin-bottom: 40px;
    color: var(--colorPrimario);
}

.titulo h1{
    font-weight: bolder;
    font-size: 48px;
}

.row{
    margin-bottom: 16px;
    text-align: left;
}

.mb-3{
    text-align: left;
}

.btn-login{
    all: unset;
    background-color: var(--colorPrimario);
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--colorBlanco);
    font-weight: bolder;
    margin: 16px;
}

main h1{
    color: var(--colorPrimario);
    font-weight: bolder;
    text-align: left;
}

.formulario{
    background-color: #e6e9ec;
    padding: 16px;
    border-radius: 32px;
}
.form-check-label{
    text-align: left;
    font-size: 14px;
}

.btn-delete{
    all: unset;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--colorBlanco);
    font-weight: bolder;
    margin: 16px ;
}

a{
    text-decoration: none;
    color: var(--colorBlanco);
}